<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="text" class="validate">
                <label for="email" data-error="something goes wrong">Email</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s4">
                <span><a [routerLink]="['forget']">Forget Password?</a></span>
            </div>
            <div class="input-field col s4">
                <button type="submit" name="action" class="btn waves-effect waves-light" [disabled]="false">
                    Login <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="input-field col s4">
                 <span><a [routerLink]="['/signup']">Don't have an account?</a></span>
            </div>
        </div>
    </form>
</div>